h3 {
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    padding: 1px 4px;
}

.space {
    margin-bottom: 2em;
}

.center {
    align-items: center;
}

.map {
    overflow: hidden;
}

.map img {
    display: block;
    width: 100%;
}
