#footer {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 24px;
}

.f {
    display: flex;
}

.right{
    text-align: right;
}

#footer p{
    font-size: .8em;
    padding: 0 16px;
    margin: 3.5em 4px 1em;
}

#footer .icons {
    justify-content: flex-end;
}
