.feat {
    text-align: center;
    flex-wrap: wrap;
}

.feat h1 {
    font-family: Manteka, serif;
    text-transform: uppercase;
}

.feat object {
    margin: 58px;
    height: 120px;
}

h1.ct {
    text-align: center;
    font-size: 2.5em;
}

img.small {
    max-width: 400px;
}
