@import url("font/font.css");

body {
    font-family: Futura, sans-serif;
    height: 100%;
    margin: 0;
    color: white;
}

.splash {
    height: 100vh;
    margin: 0;
    display: block;
    background-size: cover;
    background-position: center;
}
