@import url("font/font.css");

body {
    font-family: Futura, sans-serif;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.splash {
    min-height: 100vh;
    margin: 0;
    display: block;
    background-size: cover;
    background-position: center;
}

.kravat object {
    height: 38px;
}

.items {
    font-size: 1.4em;
    text-transform: capitalize;
    font-stretch: condensed;
    text-align: center;
}

.items a {
    display: block;
    padding: 10px 18px;
    margin: 2px 8px;
    flex: 1 auto;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.icon {
    display: block;
    padding: 8px 16px;
    margin: 4px;
}

a object {
    pointer-events: none;
}

.icon object {
    height: 32px;
    display: block;
}

.small .icon object {
    height: 24px;
}

h1 {
    font-weight: normal;
    font-stretch: condensed;
    margin: 0;
    font-size: 3em;
}

.special {
    color: red;
    font-family: "Manteka", serif;
}

.inline {
    display: inline;
    vertical-align: middle;
    height: 1em;
    margin-left: 1em;
    fill: white;
}

h1 .inline {
    font-size: .33em;
}

.fd {
    display: flex;
    margin: 108px auto;
    padding: 0 60px;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
}

.fd > div {
    flex: 0 1 450px;
    margin: 24px auto;
}

.fd img {
    display: block;
    width: 100%;
}

.red {
    color: red;
}

.red svg {
    fill: red;
}

@media screen and (max-width: 768px) {
    .icons {
        justify-content: center;
    }
}
