.fd {
    display: flex;
    margin: 108px auto;
    padding: 0 60px;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
}

.fd > div {
    flex: 0 1 450px;
    margin: 18px;
}

.fd img {
    display: block;
    width: 100%;
}

.red {
    color: red;
}

.red svg {
    fill: red;
}
